/*-----------------*\
   Alinhador geral
\*-----------------*/

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}


header nav.nav i::before {
    cursor: pointer;
}

header nav.nav i:hover, header nav.nav i:focus {
    transform: scale(1.2);
}

main {
    flex: 1 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}

footer{
    flex-shrink: 0;
}

/*--------------*\
    geral
\*--------------*/

main h1 {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-family: "roboto";
    font-size: 3em;
    color: #40e0d0;
}

nav#nav-js {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 1.3em;
}

nav#nav-js div#nav-tab {
    display: flex;
    justify-content: center;
}

nav#nav-js div#nav-tab button {
    padding: 15px;
    color: #40e0d0;
    text-shadow: 0.6px 0.5px 0.6px #05524a;
    letter-spacing: 2px;
}
.nav-pills .nav-link.active{
    background-color: #022723;
}

div.container div.tab-content {
    background-color: white;
    color: black;
}

/*--------------*\
    tabela
\*--------------*/

div.container div.tab-content div.aspectosGeogr치ficos table thead {
    font-size: 1.6em;
    letter-spacing: 1.5px;
}

div.container div.tab-content div.aspectosGeogr치ficos table tbody tr td  ul{
    list-style: none;
    padding: 0;
    font-size: 1em;
}

div.container div.tab-content div.aspectosGeogr치ficos table tbody tr th {
    font-size: 1.3em;
    font-weight: 600;
}

div.container div.tab-content div.aspectosGeogr치ficos table tbody tr td {
    font-size: 1.1em;
}