/*--------------*\
 Layout Cabeçalho
\*--------------*/

.layout-cabecalho {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #40e0d0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*--------------*\
   Layout Título
\*--------------*/

.layout-titulo {
  height: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--------------------*\
 Layout Desenvolvimento
\*--------------------*/

.layout-desenvolvimento {
  height: 350px;
  background-color: #000;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

/*--------------*\
Layout Professores
\*--------------*/

.layout-professores {
  height: 350px;
  background-color: black;
}



/*--------------*\
  Layout Coluna
\*--------------*/

.layout-coluna {
  display: flex;
  /*direction: row;
    flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  gap: 50px;
  margin-bottom: 20px;
  /* overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border:1px solid #40e0d0;*/
}

/*--------------*\
  Layout Rodapé
\*--------------*/
.layout-rodape {
  width: 100%;
  height: 50px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  border-top: 1px solid #fff;
}


/*---- CIDADES ----*\


/*--------------*\
  Layout-Titulo
\*--------------*/