@media(min-width: 1200px) {
    
}

@media(max-width: 1100px) {
    header.layout-cabecalho h2 {
        font-size: 1.5em;
    }

    div.layout-titulo h1.titulo{
        font-size: 3.8em;
    }

    main.layout-coluna {
        gap: 40px;
    }

    .layout-coluna--coluna__card{
        height: 310px;
    }

    .layout-coluna--coluna__card img {
        width: 280px;
        height: 200px;
    }

    .layout-coluna--coluna__card div h2{
        font-size: 1.2em;
    }

    .layout-professores{
        gap: 40px;
    }

    .layout-professores--professores{
        width: 250px;
        border-radius: 5%;
    }

    .layout-professores--professores img{
        margin-top: 5px;
    }

    .layout-professores--professores div h2 a{
        font-size: 1.1em;
    }

    .layout-professores--professores p{
        padding: 8px;
        font-size: 1.3em;
    }

    div.ebook{
        margin-top: 160px;
    }
}

@media(max-width: 720px){
    header.layout-cabecalho h2 {
        font-size: 1.3em;
    }

    div.layout-titulo h1.titulo{
        font-size: 3.3em;
    }

    main.layout-coluna {
        gap: 25px;
    }

    .layout-coluna--coluna__card{
        height: 290px;
    }

    .layout-coluna--coluna__card img {
        width: 260px;
        height: 180px;
    }

    .layout-coluna--coluna__card div h2{
        font-size: 1.1em;
    }

    div.temas{
        margin: 40px 0;
    }

    div.temas h2{
        font-size: 2.2em;
    }

    .layout-professores{
        gap: 25px;
    }

    .layout-professores--professores{
        width: 240px;
        border-radius: 5%;
    }

    .layout-professores--professores p{
        padding: 8px;
        font-size: 1.2em;
    }

    div.ebook{
        margin-top: 140px;
    }
}

@media(max-width: 500px) {
    header.layout-cabecalho h2 {
        font-size: 1.2em;
    }

    div.layout-titulo{
        height: 20em;
    }

    div.layout-titulo h1.titulo{
        font-size: 2.5em;
    }

    .titulo_desenvolvimento {
        font-size: 2em;
        color: #40e0d0;
        margin-top: 10%;
    }
    
    .paragrafo_desenvolvimento {
        font-size: 1.1em;
        padding: 5px 15px;
    }

    main.layout-coluna {
        gap: 30px;
    }

    .layout-coluna--coluna__card{
        height: 290px;
    }

    .layout-coluna--coluna__card img {
        width: 240px;
        height: 180px;
    }

    .layout-coluna--coluna__card div h2{
        font-size: 1.1em;
    }

    div.temas{
        margin: 30px 0;
    }

    div.temas h2{
        font-size: 2em;
    }

    .layout-professores{
        gap: 30px;
    }

    .layout-professores--professores{
        width: 200px;
        border-radius: 4%;
    }

    .layout-professores--professores img {
        width: 80px;
        height: 80px;
        margin-top: 4px;
    }

    .layout-professores--professores div h2 a{
        font-size: 1em;
    }

    .layout-professores--professores p{
        padding: 3px;
        font-size: 1em;
    }

    div.ebook{
        margin-top: 100px;
    }
}