@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Concert+One&family=Oxygen:wght@300;400;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*--------------*\
    Cabeçalho
\*--------------*/

header.layout-cabecalho a {
    text-decoration: none;
    color: #fff;
}

header.layout-cabecalho a h2 {
    margin-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 80px;
    font-size: 1.4em;
}

/*--------------------------*\
    Layout nav modificadora
\*--------------------------*/

nav.nav-js{
    height: auto;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
}

/*----------*\
     menu 
\*----------*/

#menu {
    transform: translateX(-50%);
    color: #fff;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 77px;
    cursor: pointer;
    display: none;
}

/*-------------------*\
     menu modificador
\*-------------------*/

.botao-js {
    margin-left: 84px;
}

/*--------*\
     div 
\*--------*/

nav.nav > div.nav-links > a {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: #efefef;
}

nav.nav > div.nav-links > a i#menu {
    padding-left: 2px;
}

.nav>div.nav-links>a:hover {
    background-color: rgb(20, 20, 20);
    color: rgb(190, 184, 184);
}


/*--------------------*\
     div modificadora
\*--------------------*/

nav div.nav-menu {
    background-color: black;
    color: #fff;
    position: relative;
    top: 30px;
    right: -4px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 8px;
  }
  
  nav div.nav-menu a {
    color: #fff;
    text-decoration: none;
    height: 60px;
    width: 150px;
  }
  
  nav div.nav-menu a i {
    display: none;
  }

  nav div.nav-menu a i#menu {
    display: none;
  }

/*--------------*\
      Título
\*--------------*/

.titulo {
    font-size: 4.5em;
}

.subTitulo {
    font-size: 2.5em;
}

/*--------------*\
      Sessão 1
\*--------------*/

.layout-desenvolvimento--conteudos {
    width: 710px;
}

.titulo_desenvolvimento {
    font-family: "roboto";
    font-size: 3em;
    color: #40e0d0;
    padding: 15px 0;
    margin-top: 10%;
}

.paragrafo_desenvolvimento {
    font-size: 1.2em;
    letter-spacing: 1px;
}

/*----------------*\
   municipios Card
\*----------------*/

.layout-municipios--coluna__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    height: 370px;
    border-radius: 12px;
    box-shadow: 0 4px #40e0d0;
}

.layout-municipios--coluna__card picture{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../images/imagens-index.html-400x300/moldura-360x260.jpg) no-repeat;
    background-size: cover;
    width: 365px;
    height: 258px;
}

.layout-municipios--coluna__card img {
    width: 300px;
    height: 200px;
}

.layout-municipios--coluna__card div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    transform: translateY(35%);
}

.layout-municipios--coluna__card div h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 700;
}

.layout-municipios--coluna__card div a {
    padding: 8px;
    text-align: center;
    width: 80px;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #40e0d0;
    text-decoration: none;
    color: #fff;
}

.layout-municipios--coluna__card div a:hover,
.layout-municipios--coluna__card div a:focus {
    transform: scale(1.1);
}

/*--------------------------------*\
  Layout titulos pré-apresentação
\*--------------------------------*/

div.temas h2 {
    font-family: "roboto";
    font-size: 3em;
    color: #40e0d0;
}

/*--------------*\
Quadro Professores
\*--------------*/

.layout-professores--professores {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    border: 2px solid #40e0d0;
    border-radius: 8%;
    cursor: pointer;
    transition: all 0.3s;
}

.layout-professores--professores:hover> :not(:hover) {
    opacity: 0.4;
}

.layout-professores--professores img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid#40e0d0;
    margin-top: 10px;
}

.layout-professores--professores div h2 a {
    color: #40e0d0;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    margin-top: 5px;
}

.layout-professores--professores p {
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
}

/*--------------*\
  Layout ebook
\*--------------*/

div.ebook a {
    background: #40e0d0;
    color: #000;
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 15px #40e0d0;
    transition: .5s;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
}

div.ebook a:hover,
div.ebook a:focus {
    box-shadow: none;
}

div.ebook div.ebook-preVisualizacao i {
    font-size: 1.4em;
}

div.ebook div.ebook-preVisualizacao div {
    display: none;
    margin-top: 50px;
    width: 98vw;
    height: 400px;
}

div.ebook div.ebook-preVisualizacao div iframe {
    height: 100%;
    width: 50%;
}

div.ebook div.ebook-preVisualizacao div.iframeComEbook {
    display: block;
}

/*--------------*\
      Rodapé
\*--------------*/

.layout-rodape p {
    color: #40e0d0;
    transform: translateY(200%);
}