@media(min-width: 720px) {
    nav.nav{
        margin-right: 3%;
    }
}

@media(max-width: 1100px) {
    header.layout-cabecalho h2 {
        font-size: 1.3em;
    }

    nav.nav > div.nav-links > a {
        padding: 0 13px;
    }

    div.layout-titulo h1.titulo{
        font-size: 3.5em;
    }

    div.layout-titulo h2.subTitulo{
        font-size: 2.5em;
    }

    div.layout-desenvolvimento--conteudos h2.titulo_desenvolvimento{
        font-size: 2.5em;
    }

    div.temas h2{
        font-size: 2.5em;
    }

    div.layout-municipios {
        gap: 40px;
    }

    .layout-municipios--coluna__card{
        height: 310px;
    }

    .layout-municipios--coluna__card picture{
        background: url(../../images/imagens-index.html-200x140/moldura-240x180.jpg);
        width: 240px;
        height: 180px;
    }

    .layout-municipios--coluna__card img {
        width: 200px;
        height: 140px;
    }

    .layout-municipios--coluna__card div h2{
        font-size: 1.2em;
    }

    .layout-professores{
        gap: 40px;
    }

    .layout-professores--professores{
        width: 250px;
        border-radius: 5%;
    }

    .layout-professores--professores img{
        margin-top: 5px;
    }

    .layout-professores--professores div h2 a{
        font-size: 1.1em;
    }

    .layout-professores--professores p{
        padding: 8px;
        font-size: 1.3em;
    }
}

@media(max-width: 720px){
    .nav-links{
        display: none;
    }

    .nav>#menu {
        display: inline-block;
    }

    div.layout-titulo h1.titulo{
        font-size: 2.5em;
    }

    div.layout-titulo h2.subTitulo{
        font-size: 2em;
    }

    div.layout-desenvolvimento--conteudos h2.titulo_desenvolvimento{
        font-size: 2em;
    }

    .paragrafo_desenvolvimento {
        padding: 5px 15px;
    }

    div.layout-municipios {
        gap: 25px;
    }

    .layout-municipios--coluna__card{
        height: 290px;
    }

    .layout-municipios--coluna__card div h2{
        font-size: 1.1em;
    }

    div.temas{
        margin: 40px 0;
    }

    div.temas h2{
        font-size: 2em;
    }

    .layout-professores{
        gap: 25px;
    }

    .layout-professores--professores{
        width: 240px;
        border-radius: 5%;
    }

    .layout-professores--professores p{
        padding: 8px;
        font-size: 1.2em;
    }
}

@media(max-width: 500px) {
    header.layout-cabecalho h2 {
        font-size: 1.2em;
    }

    div.layout-titulo{
        height: 20em;
    }

    div.layout-titulo h1.titulo{
        font-size: 2.2em;
    }

    div.layout-titulo h2.subTitulo{
        font-size: 1.5em;
    }

    div.layout-desenvolvimento--conteudos h2.titulo_desenvolvimento{
        font-size: 1.6em;
        margin-top: 10%;
    }
    
    .paragrafo_desenvolvimento {
        font-size: 1em;
    }

    div.layout-municipios {
        gap: 30px;
    }

    .layout-municipios--coluna__card{
        height: 290px;
    }

    .layout-municipios--coluna__card div h2{
        font-size: 1.1em;
    }

    div.temas{
        margin: 30px 0;
    }

    div.temas h2{
        font-size: 1.6em;
    }

    .layout-professores{
        gap: 30px;
    }

    .layout-professores--professores{
        width: 200px;
        border-radius: 4%;
    }

    .layout-professores--professores img {
        width: 80px;
        height: 80px;
        margin-top: 4px;
    }

    .layout-professores--professores div h2 a{
        font-size: 1em;
    }

    .layout-professores--professores p{
        padding: 3px;
        font-size: 1em;
    }

    div.ebook{
        font-size: 1.1em
    }
}